.page-wrapper {
    height: 100vh;
    background-color: #f3f6f9;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
}

.heading {
    font-weight: 700;
    margin: 20px 0;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.125rem;
}

.input-number {
    width: 350px;
    font: inherit;
    letter-spacing: inherit;
    color: rgb(61, 71, 82);
    padding: 8px 0 10px;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    display: block;
    min-width: 0;
    padding: 16px 14px;
    margin-right: 20px;
    border-radius: 8px;
    outline: none;
}

.test-button {
    width: 174px;
    box-sizing: border-box;
    outline: 0px;
    border: 0px;
    cursor: pointer;
    font-weight: 700;
    letter-spacing: 0px;
    font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    line-height: 1.75;
    padding: 16px 34px;
    border-radius: 10px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: none;
    background-color: black;
    color: rgb(255, 255, 255);
}

.error-message {
    color: red;
    font-size: 1rem;
    line-height: 1.75;
    margin: 20px 0;
    font-weight: 600;
}

.success-message {
    color: green;
    font-size: 1rem;
    line-height: 1.75;
    margin: 20px 0;
    font-weight: 600;
}

.not-visible {
    display: none;
}

.success-input {
    border-color: green;
}

.error-input {
    border-color: red;
}